{% extends "base.html" %}
{% block title %}
  Лента записей
{% endblock %}
{% block content %}
  <main>
    <div class="container py-5">
      <h1>Лента записей</h1>
        <article>
          <hr>
          {% for product in index %}
          <ul>
            <li>Место: {{ product.location }}</li>
            <li>Дата: {{ product.date }}</li>
            <li>Категория:
              <a href="{% url 'blog:category_posts' product.category %}">
                {{ product.category }}
              </a>
            </li>
            <br>
            {{ product.text|truncatewords:10 }}
            <br>
            <a href="{% url 'blog:post_detail' product.id %}">
              Читать полный текст
            </a>
          </ul>
          {% if forloop.revcounter0 %}
          <hr>
          {% endif %}
          {% endfor %}
        </article>
      </div>
    </main>
{% endblock %}
